* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", serif;
    color: #111111;
}

#grey-bkgd {
    background-color: #f6f6f6;
    margin: 0;
}

body {
    background-color: white;
}

body p {
    letter-spacing: 0.08rem;
}

a {
    text-decoration: none;
    color: black;
}

/* #f6f6f6 */

/* HEADER-NAV STYLING */
header {
    background-color: #f6f6f6;
}
header nav {
    background-color: white;
    padding: 2% 11.2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

header nav a img {
    width: 120%;
    height: 7rem;
    position: relative;
    right: 12rem;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 92%;
}

header nav ul:hover {
    background-color: white;
    color:#111111;
}

header nav ul li {
    list-style-type: none;
    padding: 0 1rem;
}

header nav ul li:hover {
    background-color: white;
    color:#111111;
}

header nav div:hover {
    background-color: white;
    color:#111111;
}

.login-btn {
    width: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn input {
    width: 60rem;
    border: 1px solid black;
    font-size: 2.3rem;
    background-color: transparent;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 1.5rem 4rem 1.5rem 1.5rem;
}

.developers, .use-cases, .products, .resources {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.use-cases li {
    width: 15rem;
}

.developers span, .use-cases span, .products span, .resources span {
    position: relative;
    left: -1.2rem;
    top: 0.18rem;
}

ul i {
    font-size: 2rem;
}

.input-cs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-cs i {
    font-size: 2rem;
}

/* MAIN STYLING */
h1 {
    font-size: 6.5rem;
    margin: 5.60% 0;
}

section {
    background-color: #f6f6f6;
}

/* HERO SECTION */
#hero {
    /* display: flex;
    justify-content: space-between; */
    margin: 0 0 0 0;
    padding-left: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: white;
}

#hero div {
    width: 45%;
}

.hero-txt {
    width: 40%;
}

.hero-txt h1 {
    margin: 0 0 1.8% 0;
}

.hero-txt p {
    font-size: 3rem;
    margin-bottom: 6%;
}

#hero video {
    height: 40%;
    width: 68vw;
    position: relative;
    right: 21rem;
}

#trustee-slider {
    border-top: 1px solid black;
    width: 100%;
}

.hero-txt-btn i {
    font-size: 2.5rem;
    /* color: yellow; */
}

.hero-txt-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 5rem;
}

.hero-txt-btn .btn-1 {
    width: 36rem;
    padding: 12% 35% 12% 15%;
    border-radius: 4rem;
    color: white;
    background-color: #111111;
    font-size: 2.4rem;
    font-weight: bold;
}

.hero-txt-btn .btn-2 {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    padding: 5% 10%;
    position: relative;
    font-size: 2.3rem;
    border-radius: 4rem;
    position: relative;
    left: 8rem;
    font-weight: bold;
}

#mobile-hero-btn {
    display: none;
}

.talk-to-our-team {
    display: flex;
    justify-content: center;
    align-items: center;
}

.talk-to-our-team i {
    font-size: 2.3rem;
    color: white;
    position: relative;
    right: 3rem;
}

/* Trustee Slider STYLING */
/* #8d7d70 */
#trustee-slider {
    background-color: white;
    margin: -0.40% 0 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0 2% 10%;
    border-bottom: 2px solid #8d7d70;
    border-top: 2px solid #8d7d70;
}

#trustee-slider h2 {
    color: #8d7d70;
    font-size: 4.5rem;
    font-weight: 500;
    padding-right: 3%;
    text-align: center;
    width: 30rem;
}

.slider-line {
    background-color: #8d7d70;
    height: 12.8%;
    width: 0.432%;
    color: #8d7d70;
}

#trustee-slider .s-one-img img {
    width: 25%;
    height: 25%;
}

#trustee-slider .s-one-img {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SECTION ONE STYLING */
#one {
    width: 80%;
    margin: 0 auto;
}

#one video {
    width: 100%;
}

#one h1 {
    width: 89%;
    margin: 0 auto 4.8%;
    text-align: center;
    font-weight: 600;
    font-size: 7.6rem;
}

#one p {
    width: 89%;
    margin: 0 auto;
    text-align: center;
    font-size: 2.7rem;
    color: #383737;
}

/* #d2d2d2 */
.s-one-btn {
    width: 30rem;
    font-size: 2.2rem;
    margin: 3.2% auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s linear;
}

.s-one-btn i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    padding: 0 1.6%;
    background-color: #d2d2d2;
    height: 30px;
    width: 32px;
    border-radius: 50%;
    margin-top: 0.64%;
    position: relative;
    left: 4.2rem;
}

.s-one-btn a {
    font-weight: 500;
    width: 100%;
}

.s-one-btn a:hover {
    color: white;
}

.s-one-btn i:hover {
    transform: translateX(5px);
    color: white;
    background-color: none;
    position: relative;
    left: -2rem;
}

.s-one-btn:hover {
    color: white;
    width: 30rem;
    text-align: center;
    background-color: #111111;
    padding: 0.6% 2% 0.7% 1%;
    border-radius: 10rem;
}



/* SECTION TWO STYLING */
#two {
    width: 80%;
    margin: 11.5% auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#two div {
    width: 50%;
}

#two img {
    width: 100%;
}

#two h1 {
    font-weight: 600;
    font-size: 7.7rem;
    margin: 0;
    margin-bottom: 2%;
}

#two .s-two-txt {
    width: 47%;
    position: relative;
    bottom: 3%;
}

#two p {
    font-size: 2.7rem;
    color: #383737;
    margin-bottom: 11%;
}

#two input {
    background-color: #111111;
    color: white;
    border: none;
    padding: 2.6% 8% 2.6% 3.5%;
    font-size: 2.5rem;
    font-weight: 600;
    width: 34rem;
    border-radius: 4.5rem;
}

#two i {
    font-size: 2.5rem;
    color: white;
    position: relative;
    right: 7rem;
}

#two input:hover, #five input:hover {
    cursor: pointer;
    background-color: white;
    border: 1px solid #111111;
    color: black;
}


/* SECTION THREE STYLING */
#three {
    width: 83%;
    margin: 8% auto 0;
}

#three h1 {
    width: 75%;
    margin: 0 auto 3%;
    text-align: center;
    font-size: 8rem;
    font-weight: 600;
}

#three .three-txt-p1 {
    font-size: 2.8rem;
    color: #383737;
    width: 75%;
    text-align: center;
    margin: 0 auto 15%;
}

.network {
    background: url(https://images.ctfassets.net/ss5kfr270og3/33fA7JALIWK8AsvPz1QWdS/bcffffae376165ef9e8c06063943c33a/network-desktop__2_.png?fm=webp&w=2938&q=60);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5%;
}

.network div {
    border: 1px solid #a5a2a2;
    border-radius: 3rem;
    width: 118%;
    margin: 20% 0;
    padding: 17% 9%;
    z-index: 2;
}

.network div h2 {
    font-size: 4rem;
    font-weight: 600;
    margin: 2.6% 0 2.8%;
}

.network div p {
    font-size: 2.7rem;
    color: #383737;
    margin: 3% 0 2%;
}

.sub-network-a, .sub-network-b {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.sub-network-a {
    align-items: start;
}

.sub-network-a .slide-left {
    position: relative;
    left: -10%;
}

.network .sub-network-b {
    align-items: end;
    margin-top: 12%;
}


/* SECTION FOUR STYLING */

#four-main {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s-four-img-p1, .s-four-img-p2 {
    display: flex;
}

.s-four-img-p1 img, .s-four-img-p2 img {
    width: 80%;
}





/* SECTION FIVE STYLING */
#five {
    width: 80%;
    margin: 11% auto 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 12%;
}

#five div {
    width: 50%;
}

#five img {
    width: 105%;
    height: 65rem;
}

#five .five-txt {
    width: 50%;
}

#five h1 {
    font-size: 7.5rem;
    font-weight: 600;
    margin: 0 0 3%;
}

#five p {
    font-size: 2.58rem;
    color: #1f1e1e;
    margin-bottom: 11%;
}

#five input {
    background-color: #111111;
    color: white;
    border: none;
    padding: 2.7% 8% 2.7% 4%;
    font-size: 2.5rem;
    font-weight: 600;
    width: 40rem;
    border-radius: 4.5rem;
}

#five i {
    font-size: 2.6rem;
    color: white;
    position: relative;
    right: 6rem;
}


/* SECTION SIX STYLING */
#six {
    width: 80%;
    margin: 10% auto;
    background-color: white;
}

#six .six-img-section img {
    width: 100%;
    height: 35rem;
    margin-bottom: 4%;
}

#six h1 {
    font-size: 12rem;
    padding-bottom: 1%;
    border-bottom: 1px solid #292929;
    margin: 2% 0;
}


/* BUTTON-LINK */
#six nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1%;
}

#six nav ul {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#six ul li {
    list-style-type: none;
    font-size: 2.5rem;
    padding: 1.7% 3%;
    border-radius: 3rem;
    font-weight: 600;
    margin: 0 0 2%;
}

.li-none {
    border: 2px solid #111111;
}

.li-none:hover {
    cursor: pointer;
}

.li-fade {
    color: rgba(17, 17, 17, 0.5);
    border: 2px solid rgba(17, 17, 17, 0.5);
}

.li-fade:hover {
    cursor: pointer;
    border: 1px solid #111111;
    color: #111111;
}

nav div {
    text-align: center;
    width: 27rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div a {
    font-weight: 500;
    width: 100%;
    font-size: 2.2rem;
    padding: 2% 0 2% 0;
    margin-left: 7%;
    margin-top: -6%;
}

/* nav div a:hover {
    background-color: #111111;
    color: white;
} */

nav div i {
    height: 30px;
    width: 34.5px;
    border-radius: 50%;
    font-size: 2.3rem;
    position: relative;
    top: -0.3rem;
    left: 3rem;
}

nav div a:hover {
    background-color: #111111;
    padding: 3% 2% 3% 2%;
    border-radius: 3rem;
    color: white;
}

nav div i:hover {
    background-color: #111111;
    color: white;
}

/* BUTTON-LINK END */

.six-img-section {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#six .six-img-section .affirm, #six .six-img-section .chime, #six .six-img-section .robinhood {
    width: 32%;
    display: flex;
    flex-direction: column;
    border-radius: 0.7rem;
    border: 1px solid #616060;
}

.affirm {
    height: 50%;
}

.r-txt, .a-txt, .c-txt {
    padding: 0 7% 10%;
    background-color: white;
}

#read-more-chime, #read-more-affirm, #read-more-robin {
    width: 30rem;
    padding: 1rem;
}

.six-img-section div h3 {
    font-size: 2.9rem;
    color: #292929;
    margin: 6% 0 9%;
}

/* LINK */
.six-img-section div a {
    font-size: 2.3rem;
    font-weight: 600;
    color: #292929;
    width: 100%;
}

.r-txt a:hover, .a-txt a:hover, .c-txt a:hover {
    background-color: #111111;
    color: white;
    border-radius: 3rem;
    padding: 3% 10% 3% 5%;
}

.six-img-section div i {
    font-size: 2rem;
    background-color:#c7c7c7;
    width: 3rem;
    padding: 2% 2.5% 2% 2%;
    border-radius: 50%;
}

.six-img-section div i:hover {
    color: white;
    background-color: #111111;
}


/* SECTION SEVEN STYLING */
#seven {
    background-color: white;
    width: 80%;
    margin: 0 auto 10%;
    border: 1px solid black;
    height: 30rem;
    background: url(https://images.ctfassets.net/ss5kfr270og3/7HOKN7T3pSrW62Cpxias0t/a3aa4c23dc5610132d1fe5c2bfc9a40c/CTA_Banner_Art.png?fm=webp&w=2740&q=60) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1.5%;
    border-radius: 4rem;
}

#seven h2 {
    width: 54rem;
    font-size: 5.4rem;
    color: white;
}

#seven p {
    width: 38rem;
    font-size: 2.4rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    color: white;
}

#seven input {
    width: 20rem;
    background-color: white;
    color: black;
    font-size: 2.5rem;
    padding: 6% 8% 6% 0;
    border-radius: 3rem;
}

#seven input:hover {
    cursor: pointer;
    border: 1px solid white;
    background-color:#111111;
    color: white;
}

#seven i {
    color: black;
    font-size: 2.5rem;
    position: relative;
    right: 3.5rem;
}

#seven i:hover {
    color: white;
}

/* SECTION EIGHT STYLING */
#eight {
    background-color: white;
    display: flex;
    width: 90%;
    margin: 0 auto -120rem;
    justify-content: space-between;
    align-items: center;
}

.eight-img {
    width: 55%;
}

.eight-img img {
    width: 100%;
    height: 102rem;
    border-top-left-radius: 1rem;
}

.eight-img .eight-overlay {
    margin: 0;
    background-color: rgba(49, 193, 255, 0.5);
    border-top-left-radius: 1rem;
    width: 100%;
    height: 102rem;
    position: relative;
    bottom: 102.3rem;
}

.cover-img-txt {
    width: 77%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 177rem;
}

.cover-img-txt h2 {
    font-size: 8.3rem;
}

.eight-form {
    width: 50%;
    height: 102rem;
    position: relative;
    bottom: 50rem;
    left: 10rem;
}

.eight-form h3 {
    font-size: 3.8rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.eight-form input, select {
    padding: 2rem;
    width: 73.4%;
    margin-bottom: 3.5%;
    font-size: 2.2rem;
    border-radius: 0.9rem;
}

.eight-form input:focus {
    outline: none;
}

select {
    color:#616060;
}

.eight-form i {
    font-size: 2.7rem;
    color: white;
    display: inline;
    margin-left: -13rem;
}

#l-name, #f-name {
    width: 35%;
}

#f-name {
    margin-right: 3%;
}

.form-btn {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    background-color: #111111;
    color: white;
    border: none;
    margin-bottom: 9%;
}

#eight p {
    font-size: 2.2rem;
    color: #292929;
    width: 80%;
}

#eight a {
    border-bottom: 1px solid black;
    padding-top: 0.5rem;
}



/* FOOTER */
footer {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #111111;
    color: white;
    margin-bottom: 0;
}

footer li {
    list-style-type: none;
}

.footer-main {
    width: 80%;
    margin: 0 auto;
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-main section {
    margin: 7% 0;
    background-color: #111111;
    color: #f6f6f6;
    border-top: 2px solid #f6f6f6;
    width: 20%;
}

.footer-main section div {
    border-top: 2px solid #f6f6f6;
}

.footer-main section h2 {
    font-size: 2.5rem;
    padding: 6% 0 2.5% 0;
}

.footer-main section li {
    padding: 4% 0;
}

.footer-main section a {
    color: #f6f6f6;
    font-size: 2.05rem;
    letter-spacing: 0.1rem;
}

.footer-main section a:hover {
    color: #4661f6;
}

.f-2, .f-3, .f-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.f-2-b, .f-3-b, .f-4-b {
    margin-top: 40%;
}

#f-5 {
    width: 80%;
    margin: 0 auto 5%;
    background-color: #111111;
    color:#f6f6f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-5-a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}

.f-5-a .blue-hover, .f-5-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-5-a .blue-hover {
    position: relative;
    left: 5%;
}

.f-5-a .blue-hover:hover {
    color: #4661f6;
    cursor: pointer;
}

.fa-chevron-down {
    position: relative;
    left: 6%;
}

.f-5-b {
    font-size: 1.9rem;
}

.f-5-b .fa-copyright {
    margin-top: 1%;
    position: relative;
    right: 5%;
}

.f-5-c {
    display: flex;
    margin-right: 7%;

}

.f-5-c i {
    font-size: 2rem;
    color: #111111;
    background-color:#f6f6f6;
    padding: 20% 20%;
    margin-right: 60%;
    border-radius: 50%;
}
